flask
gunicorn
flask_sqlalchemy
PyPDF2
pdfplumber
python-docx
nltk
scikit-learn
reportlab
pytesseract
pdf2image
setuptools
wheel

spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl